 <br>
 <div class="beer30-edit">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
 <a class="new" href="{{ path('app_vendres_index', {'numeroTicket': numeroTicket}) }}">{% trans %}Retour{% endtrans %}</a> <br> <br>
{{ form_start(form) }}

 <div class="form-group">
        {{ form_row(form.article, {'attr': {'class': 'form-control'}, 'label': 'Nom de l\'article'|trans}) }}
    </div>
      <div class="form-group">
        {{ form_row(form.quantite, {'attr': {'class': 'form-control'}, 'label': 'Quantité'|trans}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.prixVente, {'attr': {'class': 'form-control'}, 'label': 'Prix de vente'|trans}) }} 
    </div>
    <br>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') |trans }}</button>
{{ form_end(form) }}
