{% extends 'base.html.twig' %}

    {% block title %}{% trans %}Détails{% endtrans %}{% endblock %}

{% block body %}
<br>
<a class="btn btn-secondary" role="button" href="{{ path('app_tickets_index') }}">{% trans %}Retour vers la liste des tickets{% endtrans %}</a>

<br> <br>
<div class="beer30-vente">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
<a class="new" role="button" href="{{ path('app_vendres_new', {'numeroTicket': numeroTicket, 'annee' : annee}) }}">{% trans %}NOUVELLE LIGNE{% endtrans %}</a>
<br> <br>
<div class="container">
        <div class="table-responsive">
    <table class="vente_table" >
        <thead>
            <tr>
                <th class="th_left">{% trans %}ID de l'article{% endtrans %}</th>
                <th>{% trans %}Nom de l'article{% endtrans %}</th>
                <th>{% trans %}Quantité{% endtrans %}</th>
                <th>{% trans %}Prix de vente{% endtrans %}</th>
                <th>{% trans %}Sous-total{% endtrans %}</th>
                <th class="th_right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}  

      {% if vendres is empty %}
        <tr>
            <td colspan="6">Pas encore de ligne de ce ticket !</td>
        </tr>
    {% else %}
            {% for vendre in vendres %}
                <tr>
                    <td>{{ vendre.getIdArticle() }}</td>
                    <td>{{ vendre.getNomArticle() }}</td>
                    <td>x{{ vendre.getQuantite() is not null ? vendre.getQuantite() : 'Non renseigné'|trans }}</td>
                    <td>{{ vendre.getPrixVente() is not null ? vendre.getPrixVente() : 'Non renseigné'|trans }} €</td>
                    {% set sousTotal = vendre.getPrixVente() * vendre.getQuantite() %}
                    <td>{{ sousTotal }} €</td>
                    {% set total = total + sousTotal %}
                    <td><a href="{{ path('app_vendres_edit',{
                      'idArticle': vendre.getIdArticle(),
                      'qte' : vendre.getQuantite(),
                      'prix': vendre.getPrixVente(),
                      'numeroTicket':numeroTicket,
                      'annee':annee
                      }) 
                      }}"><i class="fa-regular fa-pen-to-square edit_button" ></i></a></td>
                </tr>

            {% endfor %}
            {% endif %}
        </tbody>
        
    <div class="msgMobile"><i>{% trans %}Glissez le tableau vers la droite pour le voir en entier{% endtrans %} <i class="fa-solid fa-arrow-right"></i></div>
    <h3><i> {% trans %}TOTAL DU TICKET{% endtrans %} : <span class="total">{{ total }} €</span> </h3>
    </table>

    </div>
                   

    </div>

{% endblock %}