{% extends 'base.html.twig' %}

    {% block title %}Détails{% endblock %}

{% block body %}
<br>
<a class="btn btn-secondary" role="button" href="{{ path('app_tickets_index') }}">Retour vers la liste des tickets</a>

<br> <br>

<a class="new" role="button" href="{{ path('app_vendres_new', {'numeroTicket': numeroTicket}) }}">NOUVELLE LIGNE</a>

<br> <br>
<div class="container">
        <div class="table-responsive">
    <table class="vente_table" >
        <thead>
            <tr>
                <th class="th_left">ID de l'article</th>
                <th>Nom de l'article</th>
                <th>Quantité</th>
                <th>Prix de vente</th>
                <th>Sous-total</th>
                <th class="th_right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}  
  
            {% for vendre in vendres %}
                <tr>
                    <td>{{ vendre.getIdArticle() }}</td>
                    <td>{{ vendre.getNomArticle() }}</td>
                    <td>x{{ vendre.getQuantite() is not null ? vendre.getQuantite() : 'Non renseigné' }}</td>
                    <td>{{ vendre.getPrixVente() is not null ? vendre.getPrixVente() : 'Non renseigné' }} €</td>
                    {% set sousTotal = vendre.getPrixVente() * vendre.getQuantite() %}
                    <td>{{ sousTotal }} €</td>
                    {% set total = total + sousTotal %}
                    <td><a href="{{ path('app_vendres_edit',{
                      'idArticle': vendre.getIdArticle(),
                      'qte' : vendre.getQuantite(),
                      'prix': vendre.getPrixVente(),
                      'numeroTicket':numeroTicket
                      }) 
                      }}"><i class="fa-regular fa-pen-to-square edit_button" ></i></a></td>
                </tr>
            {% endfor %}

        </tbody>
        
            <h1><i> TOTAL DU TICKET : {{ total }} €</i> </h1><br>
    <div class="msgMobile"><i>Glissez le tableau vers la droite pour le voir en entier <i class="fa-solid fa-arrow-right"></i></div>
    </table>
    
    </div>
    </div>

{% endblock %}