{% extends 'base.html.twig' %}

    {% block title %}{% trans %}Détails{% endtrans %}{% endblock %}

{% block body %}
<br>
<a class="btn btn-secondary" role="button" href="{{ path('app_tickets_index') }}">{% trans %}Retour vers la liste des tickets{% endtrans %}</a>

<br> <br>

<a class="new" role="button" href="{{ path('app_vendres_new', {'numeroTicket': numeroTicket}) }}">{% trans %}NOUVELLE LIGNE{% endtrans %}</a>

<br> <br>
<div class="container">
        <div class="table-responsive">
    <table class="vente_table" >
        <thead>
            <tr>
                <th class="th_left">{% trans %}ID de l'article{% endtrans %}</th>
                <th>{% trans %}Nom de l'article{% endtrans %}</th>
                <th>{% trans %}Quantité{% endtrans %}</th>
                <th>{% trans %}Prix de vente{% endtrans %}</th>
                <th>{% trans %}Sous-total{% endtrans %}</th>
                <th class="th_right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}  
  
            {% for vendre in vendres %}
                <tr>
                    <td>{{ vendre.getIdArticle() }}</td>
                    <td>{{ vendre.getNomArticle() }}</td>
                    <td>x{{ vendre.getQuantite() is not null ? vendre.getQuantite() : 'Non renseigné'|trans }}</td>
                    <td>{{ vendre.getPrixVente() is not null ? vendre.getPrixVente() : 'Non renseigné'|trans }} €</td>
                    {% set sousTotal = vendre.getPrixVente() * vendre.getQuantite() %}
                    <td>{{ sousTotal }} €</td>
                    {% set total = total + sousTotal %}
                    <td><a href="{{ path('app_vendres_edit',{
                      'idArticle': vendre.getIdArticle(),
                      'qte' : vendre.getQuantite(),
                      'prix': vendre.getPrixVente(),
                      'numeroTicket':numeroTicket
                      }) 
                      }}"><i class="fa-regular fa-pen-to-square edit_button" ></i></a></td>
                </tr>
            {% endfor %}

        </tbody>
        
    <div class="msgMobile"><i>{% trans %}Glissez le tableau vers la droite pour le voir en entier{% endtrans %} <i class="fa-solid fa-arrow-right"></i></div>
    </table>
 <h1><i> {% trans %}TOTAL DU TICKET{% endtrans %} : {{ total }} €</i> </h1><br>
    </div>
                   

    </div>

{% endblock %}