{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}


{% block body %}
  <div class="beer30-ticket">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div>
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
       <div class="arrow-container-ticket">
        <i class="fas fa-arrow-down fa-2x"></i>
    </div>
    <h1>{% trans %}Tickets{% endtrans %}</h1>
    <br>

    <a class="new" role="button" href="{{ path('app_tickets_new') }}">{% trans %}NOUVEAU TICKET{% endtrans %}</a>
    <br><br>
    <div class="container">
  
        {{ knp_pagination_render(pagination) }}
     
        <div class="table-responsive">
            <table class="table-with-effect table_tickets" id="tab_ticket">
                <thead>
                    <tr>
                        <th class="th_left">{% trans %}Annee{% endtrans %}</th>
                        <th>{% trans %}Numero Ticket{% endtrans %}</th>
                        <th>{% trans %}Date Edition{% endtrans %} </th>
                        <th class="th_right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in pagination %}
                        <tr>
                            <td>{{ ticket.annee }}</td>
                            <td>{{ ticket.numeroTicket }}</td>
                            <td>{{ ticket.dateVente ? ticket.dateVente|date('d/m à H:i:s') : '' }}</td>
                            <td>
                       <a role="button" title="Cliquez ici pour voir le ticket" href="{{ path('app_tickets_show', {'annee': ticket.annee}) }}"><i class="fa-solid fa-magnifying-glass show_button"></i></a>
                       <a role="button" title="Cliquez ici pour voir les détails" class="details" href="{{ path('app_vendres_index', {'numeroTicket': ticket.numeroTicket}) }}"><i class="fa-solid fa-receipt fa-2xl details_btn show_button"></i></a>
                            </td>
                        </tr>
                    {% else %}é
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="msg"></div>
        </div>
    </div>
</div>
{% endblock %}