<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block stylesheets %} 
 <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
  {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">

{% block navbar %}
    {% include '/html_parts/navbar.html.twig' %}
{% endblock %}
{% for label, messages in app.flashes %}
{% for message in messages %}

<script>
Swal.fire({
  title: '<div class="animate__animated animate__swing">{{message}}</div>', 
  icon: '{{label}}',
  showClass: {
    popup: 'animate__animated animate__fadeInDown'
  },
  hideClass: {
    popup: 'animate__animated animate__fadeOutUp'
  },
  customClass: {
    title: 'swal-title'
  }
});
</script>

{% endfor %}
{% endfor %}

<div class="flex-grow-1">


    {% block body %}
    

    {% endblock %}


</div>
        {% block footer %}
    {% include '/html_parts/footer.html.twig' %}
{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block javascripts %}
    <script>
document.addEventListener("DOMContentLoaded", function () {
    const arrowContainer = document.querySelector(".arrow-container-show");
 
    const arrowDown = document.querySelector(".fa-arrow-down");

    if (arrowDown) {
        arrowDown.classList.add("bounce");
    }

    window.addEventListener("scroll", function () {
        if (arrowContainer) {
            arrowContainer.style.display = "none";
        }else{
            return;
        }
    
    });

    const tableWithEffect = document.querySelector(".table-with-effect");
    const pagination = document.querySelector(".pagination");
    if (tableWithEffect) {
        tableWithEffect.classList.add("show_effect");
        pagination.classList.add("show_effect");
    }

    

    // MA RECHERCHE ARTICLES !! 
{% if articles is defined %}

    const searchInput = document.getElementById('search');
    const tableRows = document.querySelectorAll('#tab_article tbody tr');
    const msg = document.getElementById('msg');
    const tableValues = {{ articles|raw }};

     searchInput.addEventListener('keyup', function () {
        const search = searchInput.value.toLowerCase();
        let visibleRowCount = 0;

        tableRows.forEach(function (row) {
            const rowData = Array.from(row.cells).map(cell => cell.textContent).join(' ').toLowerCase();

            if (rowData.includes(search)) {
                row.style.display = 'table-row';
                visibleRowCount++;
            } else {
                row.style.display = 'none';
            }
        });

        if (visibleRowCount === 0) {
            msg.innerHTML = "PAS DE RESULTATS";
        } else {
            msg.innerHTML = '';
        }
    });
{% endif %}

 // MA RECHERCHE TICKETS !!
{% if tickets is defined %}
    const searchInput = document.getElementById('search');
    const tableRows = document.querySelectorAll('#tab_ticket tbody tr');
    const msg = document.getElementById('msg');
    const tableValues = {{ tickets|raw }};

    tableRows.forEach(function (row) {
        row.style.display = 'table-row';
    });

    searchInput.addEventListener('keyup', function () {
        const search = searchInput.value.toLowerCase();
        let visibleRowCount = 0;

        tableRows.forEach(function (row) {
            const rowData = Array.from(row.cells).map(cell => cell.textContent).join(' ').toLowerCase();

            if (rowData.includes(search)) {
                row.style.display = 'table-row';
                visibleRowCount++;
            } else {
                row.style.display = 'none';
            }
        });

        if (visibleRowCount === 0) {
            msg.innerHTML = "PAS DE RESULTATS";
        } else {
            msg.innerHTML = '';
        }
        
    });
{% endif %}

 // mes petites icones fontawesome pour ma petite pagination
    $(document).ready(function() {

       $('.carousel').carousel();

    $('.previous a').html('<i class="fa-solid fa-angle-left"></i>');

    $('.first a').html('<i class="fa-solid fa-angles-left"></i>');

    $('.next a').html('<i class="fa-solid fa-angle-right"></i>');

    $('.last a').html('<i class="fa-solid fa-angles-right"></i>');


});


let textWrapper = document.querySelector('.ml3');

if(textWrapper){
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
}

anime.timeline()
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    delay: (el, i) => 100 * (i+1),
  });

});
    </script>
{% endblock %}
</body>
</html>