<div class="beer30-edit">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>

  <br> 
{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.annee, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_row(form.dateVente, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="form-group" style="margin-bottom: 20px;">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') |trans }}</button> <br><br>
</div>
{{ form_end(form) }}