{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1 class="display-4">Tickets</h1>
<br>

<a class="btn btn-primary btn-lg " role="button" href="{{ path('app_tickets_new') }}">NOUVEAU TICKET</a>
</button> 
<br>
<br>
    <div class="container"> 
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Annee</th>
                <th>Numero De Ticket</th>
                <th>Date Edition </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.annee }}</td>
                <td>{{ ticket.numeroTicket }}</td>
                <td>{{ ticket.dateVente ? ticket.dateVente|date('Y-m-d H:i:s') : '' }}</td>
                <td>
               <a href="{{ path('app_tickets_show', {'annee': ticket.annee}) }}">show</a>
<a href="{{ path('app_tickets_edit', {'numeroTicket': ticket.numeroTicket}) }}">edit</a>
                <a href="{{ path('app_vendres_index', {'numeroTicket': ticket.numeroTicket}) }}">Voir détails</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div> 
    <a href="{{ path('app_tickets_new') }}">Create new</a>
{% endblock %}
