{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_tickets_index') }}">Retour aux tickets</a>

    <h1>Ticket</h1>
    <div class="container">
    <table class="showTicket">
        <tbody>
            <tr>
                <th class="th_left">Annee</th>
                <td class="th_right">{{ ticket.annee }}</td>
            </tr>
            <tr>
                <th>NumeroTicket</th>
                <td>{{ ticket.numeroTicket }}</td>
            </tr>
            <tr>
                <th>DateVente</th>
                <td>{{ ticket.dateVente ? ticket.dateVente|date('d/m à H:i:s') : '' }}</td>
            </tr>
           
        </tbody>
    </table>
</div>
    
    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}