    {% extends 'base.html.twig' %}

    {% block title %}Articles{% endblock %}

    {% block body %}
    <div class="beer30-article">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>

      <h1>Articles</h1>
    <br>
<a class="new" href="{{ path('app_article_new') }}">{% trans %}NOUVEL ARTICLE{% endtrans %}</a>
    <br> <br>
    <div class="container">
    <br>
{{ knp_pagination_render(pagination) }}
       
        <div class="table-responsive">
  <div class="msgMobile">{% trans %}<i>Glissez le tableau vers la droite pour le voir en entier{% endtrans %} <i class="fa-solid fa-arrow-right"></i></i></div>
        <table class="table-with-effect" id="tab_article">
            <thead>
                <tr>
                    <th class="th_left">{% trans %}Code Article{% endtrans %}</th>
                    <th>{% trans %}Nom De l'Article{% endtrans %}</th>
                    <th>{% trans %}Prix d'Achat{% endtrans %}</th>
                    <th>{% trans %}Volume{% endtrans %}</th>
                    <th>{% trans %}Titrage{% endtrans %}</th>  
                    <th>{% trans %}Couleur{% endtrans %}</th>
                    <th>Type</th>
                    <th>{% trans %}Marque{% endtrans %}</th>
                    <th class="th_right">Actions</th>
                </tr>
            </thead>
       
            {% for article in pagination %}
                <tr>
                    <td>{{ article.idArticle }}</td>
                    <td>{{ article.nomArticle }}</td>
                    <td>{{ article.prixAchat }}€</td>
                    <td>{{ article.volume }}ml</td>
                    <td>{{ article.titrage }}%</td>
                   <td>{{ article.getNomCouleur == 'non renseigné' ? 'non renseigné'|trans : article.getNomCouleur }}</td>
                   <td>{{ article.getNomType == 'non renseigné' ? 'non renseigné'|trans : article.getNomType }}</td>
                   <td>{{ article.getNomMarque == 'non renseigné' ? 'non renseigné'|trans : article.getNomMarque }}</td>

                    <td>
                        <a role="button" href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}"><i class="fa-solid fa-magnifying-glass show_button" ></i></a>
                        <a role="button" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}"><i class="fa-regular fa-pen-to-square edit_button" ></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Empty</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                    <div id="msg"></div>

        </div> 
    </div> 

    {% endblock %}
