{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>IdArticle</th>
                <th>NomArticle</th>
                <th>PrixAchat</th>
                <th>Volume</th>
                <th>Titrage</th>  
                <th>Couleur</th>
                <th>Type</th>
                <th>Marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idArticle }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.prixAchat }}</td>
                <td>{{ article.volume }}</td>
                <td>{{ article.titrage }}</td>
                <td>{{ article.getNomCouleur}}</td> 
                <td>{{ article.getNomType}}</td>
                <td>{{ article.getNomMarque}}</td> 
 

                <td>
                    <a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
