{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Articles</h1>
<br>
    <a class="new" href="{{ path('app_article_new') }}">NOUVEL ARTICLE</a>
<br><br>

<div class="container">
<br><br>
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th class="th_left">Code Article</th>
                <th>Nom De l'Article</th>
                <th>Prix d'Achat</th>
                <th>Volume</th>
                <th>Titrage</th>  
                <th>Couleur</th>
                <th>Type</th>
                <th>Marque</th>
                <th class="th_right">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in pagination %}
            <tr>
                <td>{{ article.idArticle }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>{{ article.prixAchat }}€</td>
                <td>{{ article.volume }}</td>
                <td>{{ article.titrage }}</td>
                <td>{{ article.getNomCouleur}}</td> 
                <td>{{ article.getNomType}}</td>
                <td>{{ article.getNomMarque}}</td> 

                <td>
                    <a role="button" href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}"><i class="fa-solid fa-magnifying-glass show" ></i></a>
                    <a role="button" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}"><i class="fa-regular fa-pen-to-square edit" ></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div> 
</div> 
    {{knp_pagination_render(pagination)}}

{% endblock %}
