{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_article_index') }}">{% trans %}Retour vers articles{% endtrans %}</a><br>
<div class="beer30-show">
    <div class="bubles">
        <div class="b1"></div>
        <div class="b2"></div>
        <div class="b3"></div>
        <div class="b4"></div>
        <div class="b5"></div>
        <div class="b6"></div>
        <div class="b7"></div>
        <div class="b8"></div>
        <div class="b9"></div>
     </div> 
  <div class="beer3"></div>
  <div class="beer">
    <div class="ojos"><div class="iris"></div></div>
    <div class="ojos3"><div class="iris"></div></div>
    <div class="boca"></div>
    <div class="line"></div>
    <div class="rastro"></div>
  </div>
  </div>
    <h1>{{ article.nomArticle }}</h1>
 
    <div class="container">
      <div class="arrow-container">
        <i class="fas fa-arrow-down fa-2x"></i>
    </div>
    <table class="showArticle">
    
        <tbody>
            <tr>
                <th class="th_left">{% trans %}Code Article{% endtrans %}</th>
                <td class="th_right">{{ article.idArticle }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nom Article{% endtrans %}</th>
                <td>{{ article.nomArticle }}</td>
            </tr>
            <tr>
                <th>{% trans %}Prix Achat{% endtrans %}</th>
                <td>{{ article.prixAchat }}€</td>
            </tr>
            <tr>
                <th>{% trans %}Volume{% endtrans %}</th>
                <td>{{ article.volume }}ml</td>
            </tr>
            <tr>
                <th>{% trans %}Titrage{% endtrans %}</th>
                <td>{{ article.titrage }}%</td>
            </tr>
            <tr>
                <th>{% trans %}Couleur{% endtrans %}</th>
                <td>{{ article.getNomCouleur }}</td>
            </tr>
            <tr>
                <th>{% trans %}Marque{% endtrans %}</th>
                <td>{{ article.getNomMarque }}</td>
            </tr>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <td>{{ article.getNomType }}</td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-primary" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">{% trans %}Modifier cet article{% endtrans %}</a> <br><br>
    </div>

    {{ include('article/_delete_form.html.twig') }}
    <br>
{% endblock %}
