{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<br>
    <a class="new" href="{{ path('app_article_index') }}">Retour vers articles</a><br>

    <h1>{{ article.nomArticle }}</h1>
    <div class="container">
      <div class="arrow-container">
        <i class="fas fa-arrow-down fa-2x"></i>
    </div>
    <table class="showArticle">
    
        <tbody>
            <tr>
                <th class="th_left">Code Article</th>
                <td class="th_right">{{ article.idArticle }}</td>
            </tr>
            <tr>
                <th>Nom Article</th>
                <td>{{ article.nomArticle }}</td>
            </tr>
            <tr>
                <th>Prix Achat</th>
                <td>{{ article.prixAchat }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ article.volume }}</td>
            </tr>
            <tr>
                <th>Titrage</th>
                <td>{{ article.titrage }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ article.getNomCouleur }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ article.getNomMarque }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ article.getNomType }}</td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-primary" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">Modifier cet article</a> <br><br>
    </div>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
